body {
    background-color: azure;
}
th {
    text-align: left;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#list{
    font-family: 'Flamenco', cursive;
}


.jumbotron{
    font-family: 'Belgrano', serif;
}

img.bg {

}

.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
}

